/* .n{
display: inline-block;
width: 20%;
height: 20%;
background: grey;
box-sizing: border-box;
justify-content: space-around;
display: flex;
margin-top: 5%;
margin-left: 10%;
}
.twotable{
    margin: 20px;
    width: 300px;
    height: 200px;
    border: 2px solid black
}
.alldiv{
    width: 200px;
    height: 100xp;
border: 2px solid black
}
.num1{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 20%;
    border: 1px solid black;
} */


.jpg{
    width: 300px;
    border: 1px solid black
}
.jpg img{
    width: 100%;
}
.box{
    margin-top: 100px;
    width: 300px;
    height: 200px;
    border: 1px solid black
}



































